parameters:
    ignoreErrors:
        - '#Return typehint of method Keboola\\Retry\\RetryProxy::call\(\) has invalid type Keboola\\Retry\\mixed.#'
        - '#Cannot call method getMessage\(\) on Throwable|null.#'
